/* For devices larger than 400px */
@media (min-width: 400px) {
    .container {
      width: 85%;
      padding: 0; }
  }
  
  /* For devices larger than 550px */
  @media (min-width: 550px) {
    .container {
      width: 80%; }
    .column,
    .columns {
      margin-left: 0.5%; }
    /* .column:first-child,
    .columns:first-child {
      margin-left: 0; }
    .column:last-child,
    .columns:last-child {
      margin-left: 0; } */
  
    .one.column,
    .one.columns                    { width: 8%;             }
    .two.columns                    { width: 16.25%;         }
    .three.columns                  { width: 22%;            }
    .four.columns                   { width: calc(100% / 3);            }
    .five.columns                   { width: calc(100% * 5/12); }
    .six.columns                    { width: 49.75%;          }
    .seven.columns                  { width: calc(100% * 7/12); }
    .eight.columns                  { width: 66.5%;          }
    .nine.columns                   { width: 74.0%;          }
    .ten.columns                    { width: 82.6666666667%; }
    .eleven.columns                 { width: 91.5%; }
    .twelve.columns                 { width: 100%; margin-left: 0; }
  
    .one-third.column               { width: 30.6666666667%; }
    .two-thirds.column              { width: 65.3333333333%; }
  
    .one-half.column                { width: 48%; }
  
    /* Offsets */
    .offset-by-one.column,
    .offset-by-one.columns          { margin-left: 8.66666666667%; }
    .offset-by-two.column,
    .offset-by-two.columns          { margin-left: 17.3333333333%; }
    .offset-by-three.column,
    .offset-by-three.columns        { margin-left: 26%;            }
    .offset-by-four.column,
    .offset-by-four.columns         { margin-left: 34.6666666667%; }
    .offset-by-five.column,
    .offset-by-five.columns         { margin-left: 43.3333333333%; }
    .offset-by-six.column,
    .offset-by-six.columns          { margin-left: 52%;            }
    .offset-by-seven.column,
    .offset-by-seven.columns        { margin-left: 60.6666666667%; }
    .offset-by-eight.column,
    .offset-by-eight.columns        { margin-left: 69.3333333333%; }
    .offset-by-nine.column,
    .offset-by-nine.columns         { margin-left: 78.0%;          }
    .offset-by-ten.column,
    .offset-by-ten.columns          { margin-left: 86.6666666667%; }
    .offset-by-eleven.column,
    .offset-by-eleven.columns       { margin-left: 95.3333333333%; }
  
    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
  
    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
  
  }
  
body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background-color: #F7F7F7;
}

.image {
    /*background-image: url(.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);*/
	height: 250px;
}

.header {
    background-image: url(https://cc-production-uploads-bucket.s3.amazonaws.com/uploads/2021/01/Stock-Markets-Header-Graphic-DCN.jpg);
    height: 288px;
    padding: 16px 0 0 0;
}

.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
}

.header-description {
    color: #ffffff;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.menu {
    /*height: 312px;*/
    width: 912px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    margin: -80px auto 0 auto;
    /*position: relative;*/
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

.Select-control {
    width: 256px;
    height: 48px;
}
.info_text {
    text-align: center;
}
.dcc_control {
    margin: 0;
    padding: 5px;
    width: calc(100%-40px);
  }
.Select--single > .Select-control .Select-value, .Select-placeholder {
    line-height: 48px;
}

.Select--multi .Select-value-label {
    line-height: 32px;
}

.menu-title {
    margin-bottom: 6px;
    font-weight: bold;
    color: #079A82;
}

.pretty_container {
    border-radius: 5px;
    background-color: #F9F9F9;
    text-align: center;
    margin-top: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 15px;
    /*position: relative;*/
    box-shadow: 2px 2px 2px lightgrey;
  }

  .row {
    display: flex;
  }

  .data_text {
    font-size;
}

.bare_container {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
  }

  #wells {
    flex: 1;
  }
  
  #gas {
    margin-left: 0;
    padding-left: 0;
    flex: 1;
  }
  
  #aggregate_data {
    align-items: center;
  }
  
  #oil {
    margin-left: 0;
    padding-left: 0;
    flex:1;
  }
  
  #water {
    margin-left: 0;
    padding-left: 0;
    flex: 1;
  }
  
  #tripleContainer {
    display: flex;
    flex: 3;
  }
  
  #mainContainer {
    display: flex;
    flex-direction: column;
  }
  
